@media (prefers-color-scheme: dark) {
  :root {
    --PRIMARY-COLOR: #7aceff;
    --SECONDARY-COLOR: #5aaedf;
    --TERTIARY-COLOR: #15435e;
  
    --FG-COLOR: #f3f3f3;
    --FG-COLOR-SECONDARY: #e5e5e5;
    --FG-COLOR-TERTIARY: #d5d5d5;
    --BG-COLOR: #232323;
    --BG-COLOR-SECONDARY: #1e1e1e;
  
    --BORDER-COLOR: #2e2e2e;
    --BORDER-COLOR-HOVER: #333333;
  
    --BUTTON-FG-COLOR: #f3f3f3;
    --BUTTON-FG-COLOR-DISABLED: #9e9e9e;
    --BUTTON-BG-COLOR: #2e2e2e;
    --BUTTON-BG-COLOR-HOVER: #3e3e3e;
    --BUTTON-BG-COLOR-ACTIVE: #1e1e1e;
    --BUTTON-BG-COLOR-DISABLED: #1e1e1e;
  
    --INPUT-FG-COLOR: #f5f5f5;
    --INPUT-BG-COLOR: #3e3e3e;
    --INPUT-BG-COLOR-HOVER: #434343;
    --INPUT-BG-COLOR-ACTIVE: #1e1e1e;
    --INPUT-BG-COLOR-DISABLED: #2e2e2e;

    --TOGGLE-SWITCH-BG-COLOR: none;
    --TOGGLE-SWITCH-BG-COLOR-HOVER: none;
    --TOGGLE-SWITCH-BG-COLOR-ACTIVE: #40a140;
    --TOGGLE-SWITCH-BG-COLOR-DISABLED: var(--BG-COLOR-SECONDARY);
    --TOGGLE-SWITCH-BG-COLOR-ACTIVE-DISABLED: #85b485;
    --TOGGLE-SWITCH-BORDER-COLOR: var(--FG-COLOR-SECONDARY);
    --TOGGLE-SWITCH-BORDER-COLOR-HOVER: var(--FG-COLOR);
    --TOGGLE-SWITCH-BORDER-COLOR-ACTIVE: var(--FG-COLOR);
    --TOGGLE-SWITCH-BORDER-COLOR-DISABLED: #9e9e9e;
    --TOGGLE-SWITCH-KNOB-BG-COLOR: var(--FG-COLOR-SECONDARY);
    --TOGGLE-SWITCH-KNOB-BG-COLOR-HOVER: var(--FG-COLOR);
    --TOGGLE-SWITCH-KNOB-BG-COLOR-ACTIVE: var(--FG-COLOR);
    --TOGGLE-SWITCH-KNOB-BG-COLOR-DISABLED: #9e9e9e;
    --TOGGLE-SWITCH-KNOB-BORDER-COLOR: var(--FG-COLOR-SECONDARY);
    --TOGGLE-SWITCH-KNOB-BORDER-COLOR-HOVER: var(--FG-COLOR);
    --TOGGLE-SWITCH-KNOB-BORDER-COLOR-ACTIVE: var(--FG-COLOR);
    --TOGGLE-SWITCH-KNOB-BORDER-COLOR-DISABLED: #9e9e9e;
  
    --NAV-MENU-FG-COLOR: #f5f5f5;
    --NAV-MENU-BG-COLOR: none;
    --NAV-MENU-BG-COLOR-HOVER: #2e2e2e;
    --NAV-MENU-BG-COLOR-ACTIVE: #1e1e1e;
  
    --HEADER-FG-COLOR: var(--FG-COLOR);
    --HEADER-BG-COLOR: var(--BG-COLOR);
    --FOOTER-FG-COLOR: var(--FG-COLOR-SECONDARY);
    --FOOTER-BG-COLOR: none;
  }
}