:root {
  --PRIMARY-COLOR: #4682c4;
  --SECONDARY-COLOR: #2662a4;
  --TERTIARY-COLOR: #e2f0ff;

  --FG-COLOR: #333333;
  --FG-COLOR-SECONDARY: #6e6e6e;
  --FG-COLOR-TERTIARY: #aeaeae;
  --BG-COLOR: white;
  --BG-COLOR-SECONDARY: #f5f5f8;

  --BORDER-COLOR: #dedede;
  --BORDER-COLOR-HOVER: #cccccc;

  --BUTTON-FG-COLOR: #333333;
  --BUTTON-FG-COLOR-DISABLED: #9e9e9e;
  --BUTTON-BG-COLOR: #eeeeee;
  --BUTTON-BG-COLOR-HOVER: #cecece;
  --BUTTON-BG-COLOR-ACTIVE: #aeaeae;
  --BUTTON-BG-COLOR-DISABLED: #f5f5f5;

  --INPUT-FG-COLOR: #333333;
  --INPUT-BG-COLOR: white;
  --INPUT-BG-COLOR-HOVER: white;
  --INPUT-BG-COLOR-ACTIVE: white;
  --INPUT-BG-COLOR-DISABLED: #eeeeee;

  --TOGGLE-SWITCH-BG-COLOR: none;
  --TOGGLE-SWITCH-BG-COLOR-HOVER: none;
  --TOGGLE-SWITCH-BG-COLOR-ACTIVE: #40a140;
  --TOGGLE-SWITCH-BG-COLOR-DISABLED: var(--BG-COLOR-SECONDARY);
  --TOGGLE-SWITCH-BG-COLOR-ACTIVE-DISABLED: #85b485;
  --TOGGLE-SWITCH-BORDER-COLOR: var(--FG-COLOR-SECONDARY);
  --TOGGLE-SWITCH-BORDER-COLOR-HOVER: var(--FG-COLOR);
  --TOGGLE-SWITCH-BORDER-COLOR-ACTIVE: var(--BORDER-COLOR);
  --TOGGLE-SWITCH-BORDER-COLOR-DISABLED: var(--BORDER-COLOR);
  --TOGGLE-SWITCH-KNOB-BG-COLOR: var(--FG-COLOR-SECONDARY);
  --TOGGLE-SWITCH-KNOB-BG-COLOR-HOVER: var(--FG-COLOR);
  --TOGGLE-SWITCH-KNOB-BG-COLOR-ACTIVE: var(--BG-COLOR);
  --TOGGLE-SWITCH-KNOB-BG-COLOR-DISABLED: var(--BORDER-COLOR);
  --TOGGLE-SWITCH-KNOB-BORDER-COLOR: var(--FG-COLOR-SECONDARY);
  --TOGGLE-SWITCH-KNOB-BORDER-COLOR-HOVER: var(--FG-COLOR);
  --TOGGLE-SWITCH-KNOB-BORDER-COLOR-ACTIVE: var(--BG-COLOR);
  --TOGGLE-SWITCH-KNOB-BORDER-COLOR-DISABLED: var(--BORDER-COLOR);

  --NAV-MENU-FG-COLOR: #333333;
  --NAV-MENU-BG-COLOR: none;
  --NAV-MENU-BG-COLOR-HOVER: #f5f5f5;
  --NAV-MENU-BG-COLOR-ACTIVE: #eeeeee;

  --HEADER-FG-COLOR: var(--FG-COLOR);
  --HEADER-BG-COLOR: var(--BG-COLOR);
  --FOOTER-FG-COLOR: var(--FG-COLOR-SECONDARY);
  --FOOTER-BG-COLOR: none;
}